In [71]:
import pandas as pd

In [72]:
!pwd

/home/tomi/code/Harlequinht/Whose_Horse . csv/Whose Horse . csv

In [73]:
import os
import glob
import pandas as pd

In [74]:
os.chdir("/home/tomi/code/Harlequinht/Whose_Horse . csv/Whose Horse . csv")

In [75]:
!ls

01-2019.csv  03-2019.csv  05-2021.csv  07-2021.csv  09-2021.csv  11-2022.csv
01-2020.csv  03-2020.csv  05-2022.csv  07-2022.csv  09-2022.csv  12-2019.csv
01-2021.csv  03-2021.csv  05-2023.csv  07-2023.csv  09-2023.csv  12-2020.csv
01-2022.csv  03-2022.csv  06-2019.csv  08-2019.csv  10-2019.csv  12-2021.csv
01-2023.csv  03-2023.csv  06-2020.csv  08-2020.csv  10-2020.csv  12-2022.csv
02-2019.csv  04-2019.csv  06-2021.csv  08-2021.csv  10-2021.csv
02-2020.csv  04-2021.csv  06-2022.csv  08-2022.csv  10-2022.csv
02-2021.csv  04-2022.csv  06-2023.csv  08-2023.csv  11-2019.csv
02-2022.csv  04-2023.csv  07-2019.csv  09-2019.csv  11-2020.csv
02-2023.csv  05-2019.csv  07-2020.csv  09-2020.csv  11-2021.csv

In [76]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [77]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#create function to read csv split csv and then concat

/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53,62,71) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (71,80,98) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53,62,89) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53,62,71,80,89,98,107,116) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (62,80,89,107,116) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (62,71,80,89,98,107,116) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53,62,68,71,77,80,89,98,107,116) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (20,47,50,53,59,62,68,71,80,89,95,98,107,113,116) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53,62,71,80,89) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53,62,71,80,89,98,107,116) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/tmp/ipykernel_82597/4261394971.py:2: DtypeWarning: Columns (53) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [44]:
all_filenames

['10-2021.csv',
 '04-2023.csv',
 '11-2020.csv',
 '11-2021.csv',
 '09-2020.csv',
 '03-2020.csv',
 '12-2021.csv',
 '09-2021.csv',
 '04-2019.csv',
 '07-2019.csv',
 '06-2021.csv',
 '05-2019.csv',
 '10-2020.csv',
 '01-2021.csv',
 '12-2020.csv',
 '08-2019.csv',
 '02-2022.csv',
 '12-2019.csv',
 '03-2019.csv',
 '12-2022.csv',
 '05-2021.csv',
 '06-2023.csv',
 '02-2021.csv',
 '10-2019.csv',
 '08-2020.csv',
 '02-2019.csv',
 '07-2023.csv',
 '06-2019.csv',
 '08-2023.csv',
 '01-2023.csv',
 '09-2022.csv',
 '05-2023.csv',
 '01-2020.csv',
 '03-2022.csv',
 '08-2021.csv',
 '11-2019.csv',
 '01-2019.csv',
 '04-2021.csv',
 '01-2022.csv',
 '10-2022.csv',
 '05-2022.csv',
 '02-2020.csv',
 '06-2020.csv',
 '08-2022.csv',
 '06-2022.csv',
 '04-2022.csv',
 '02-2023.csv',
 '07-2021.csv',
 '09-2023.csv',
 '07-2022.csv',
 '11-2022.csv',
 '03-2023.csv',
 '03-2021.csv',
 '07-2020.csv',
 '09-2019.csv']

In [78]:
combined_csv.shape

(409638, 121)

# Jump Data

In [79]:
filter_condition_jump = (combined_csv['race_type'] == 'JUMP') | (combined_csv['race_type'] == 'STEEPLECHASE') | (combined_csv['race_type'] == 'CROSS_COUNTRY')

In [80]:
data_jump = combined_csv[filter_condition_jump]

In [81]:
data_jump.race_type.unique()

array(['JUMP', 'STEEPLECHASE', 'CROSS_COUNTRY'], dtype=object)

In [82]:
data_jump_sort = data_jump.sort_values(by=['meeting_id'], ascending=True)

In [83]:
data_jump_sort

,meeting_id,meeting_name,date,country_code,event_number,distance,distance_unit,distance_furlongs,distance_raw_furlongs,race_class,...,run_7_dsr,run_8_raw_post_race_rating_int,run_8_raw_post_race_rating_symbol,run_8_final_rating_int,run_8_race_type,run_8_race_class,run_8_race_class_normalised,run_8_track_type,run_8_win_lose,run_8_dsr
82,3671,MARKET RASEN,2020-07-20,GBR,1,3645,yards,2m0.5f,16.6,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,440.0,113.0,NaN,118.0,JUMP,3,Handicap,TURF,0.0,454.0
108,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,1161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,605.0,NaN,NaN,NaN,STEEPLECHASE,3,Handicap,TURF,1.0,781.0
110,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,454.0,NaN,NaN,NaN,STEEPLECHASE,4,Handicap,TURF,0.0,627.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7358,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,557.0,106.0,NaN,108.0,STEEPLECHASE,4,Novice,TURF,0.0,581.0
7359,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,336.0,122.0,+,129.0,JUMP,4,Handicap,TURF,1.0,511.0
7360,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,134.0,121.0,NaN,130.0,STEEPLECHASE,3,Handicap,TURF,0.0,155.0
7362,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,296.0,NaN,NaN,NaN,JUMP,3,Handicap,TURF,0.0,310.0
7569,37980,MARKET RASEN,2023-09-30,GBR,7,4100,yards,2m2.5f,18.6,5,...,260.0,85.0,NaN,106.0,JUMP,5,Handicap,TURF,0.0,296.0

In [84]:
data_jump_sort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127632 entries, 82 to 7569
Columns: 121 entries, meeting_id to run_8_dsr
dtypes: float64(48), int64(10), object(63)
memory usage: 118.8+ MB

In [85]:
data_jump_sort

,meeting_id,meeting_name,date,country_code,event_number,distance,distance_unit,distance_furlongs,distance_raw_furlongs,race_class,...,run_7_dsr,run_8_raw_post_race_rating_int,run_8_raw_post_race_rating_symbol,run_8_final_rating_int,run_8_race_type,run_8_race_class,run_8_race_class_normalised,run_8_track_type,run_8_win_lose,run_8_dsr
82,3671,MARKET RASEN,2020-07-20,GBR,1,3645,yards,2m0.5f,16.6,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,440.0,113.0,NaN,118.0,JUMP,3,Handicap,TURF,0.0,454.0
108,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,1161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,605.0,NaN,NaN,NaN,STEEPLECHASE,3,Handicap,TURF,1.0,781.0
110,3671,MARKET RASEN,2020-07-20,GBR,4,5251,yards,2m8f,23.9,3,...,454.0,NaN,NaN,NaN,STEEPLECHASE,4,Handicap,TURF,0.0,627.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7358,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,557.0,106.0,NaN,108.0,STEEPLECHASE,4,Novice,TURF,0.0,581.0
7359,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,336.0,122.0,+,129.0,JUMP,4,Handicap,TURF,1.0,511.0
7360,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,134.0,121.0,NaN,130.0,STEEPLECHASE,3,Handicap,TURF,0.0,155.0
7362,37980,MARKET RASEN,2023-09-30,GBR,4,4709,yards,2m5.5f,21.4,3,...,296.0,NaN,NaN,NaN,JUMP,3,Handicap,TURF,0.0,310.0
7569,37980,MARKET RASEN,2023-09-30,GBR,7,4100,yards,2m2.5f,18.6,5,...,260.0,85.0,NaN,106.0,JUMP,5,Handicap,TURF,0.0,296.0

In [86]:
jump_combined_csv2 =data_jump_sort.to_csv( "../../combined_data/combined_jump_csv.csv", index=False, encoding='utf-8-sig')

# Flat Data

In [87]:
filter_condition_flat = (combined_csv['race_type'] == 'FLAT') | (combined_csv['race_type'] == 'NATIONAL_HUNT_FLAT')

In [88]:
data_flat = combined_csv[filter_condition_flat]

In [89]:
data_flat_sort = data_flat.sort_values(by=['meeting_id'], ascending=True)

In [90]:
data_flat_sort['race_type'].unique()

array(['FLAT', 'NATIONAL_HUNT_FLAT'], dtype=object)

In [94]:
flat_combined_csv2 =data_flat_sort.to_csv( "../../combined_data/combined_flat2_csv.csv", index=False, encoding='utf-8-sig')

In [91]:
data_flat_sort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282006 entries, 0 to 7488
Columns: 121 entries, meeting_id to run_8_dsr
dtypes: float64(48), int64(10), object(63)
memory usage: 262.5+ MB

In [92]:
data_flat_sort.shape

(282006, 121)

In [93]:
data_flat.race_type.unique()

array(['FLAT', 'NATIONAL_HUNT_FLAT'], dtype=object)

# Working Data

In [ ]:
combined_csv2 =all_filenames.to_csv( "../../combined_data/combined_csv.csv", index=False, encoding='utf-8-sig')

In [ ]:
# filter_condition = (data['race_type'] == 'JUMP') | (data['race_type'] == 'STEEPLECHASE')

In [ ]:
filtered_df = data[filter_condition]

In [ ]:
# filter_condition = (data['race_type'] == 'FLAT') | (data['race_type'] == 'NATIONAL_HUNT_DATA')

In [ ]:
#export to csv
combined_csv2 =combined_csv.to_csv( "../../combined_data/combined_csv.csv", index=False, encoding='utf-8-sig')

In [ ]:
!ls

In [ ]:
combined_csv['race_type'].unique()

In [31]:
test = pd.read_csv("../../combined_data/combined_jump_csv.csv").race_type.unique()

/tmp/ipykernel_82597/3051574486.py:1: DtypeWarning: Columns (9,22,53,80) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv("../../combined_data/combined_jump_csv.csv").race_type.unique()

In [32]:
test

array(['JUMP', 'STEEPLECHASE', 'CROSS_COUNTRY'], dtype=object)